.logo {
    height: 100%;
    width: 385px;
    background-color: #090a2d;
    transform: translateX(100%);
    transition: all .5s;
    position:absolute; right: 0;
    animation: fadeInImage 1s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}

.img {
    transform: translateX(100%);
    transition: all .5s;
    position: absolute; right: 40px;
    animation: fadeInImage 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.1s;
}

#login {
    top: 40%;
    position: absolute; right: 75px;
    font-family: 'Montserrat', sans-serif;
}

.input-login {
    border: solid 1px;
    border-radius: 20px;
    border-color: #3C3D72;
    width: 220px;
    height: 5vh;
    background-color: transparent;
    margin: 10% 0% 0% 0%;
    text-align: center;
    color: #FFFFFF;
    transform: translateX(210%);
    transition: all .5s;
    animation: fadeInImage 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.3s;
  }

.input-senha {
    border: solid 1px;
    border-radius: 20px;
    border-color: #3C3D72;
    width: 220px;
    height: 5vh;
    background-color: transparent;
    margin: 10% 0% 0% 0%;
    text-align: center;
    color: #FFFFFF;
    transform: translateX(210%);
    transition: all .5s;
    animation: fadeInImage 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.4s;
}

.btn-login {
    cursor: pointer;
    width: 220px;
    height: 6vh;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #F6B511;
    margin: 10% 0% 0% 0%;
    border-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    position: absolute; left: 2%;
    transform: translateX(210%);
    transition: all .5s;
    animation: fadeInImage 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

.btn-login:hover {
    background-color: #d49e16;
}

.EsqueceuSenha {
    cursor: pointer;
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 16px;
    margin: 35% 0% 0% 0%;
    position: absolute; left: 18%;
    width: 220px;
    transform: translateX(210%);
    transition: all .5s;
    animation: fadeInImage 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.6s;
}

.font-bold {
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: bold;
    position: absolute; top: 40%; left: 7%;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: #ffffff;
    position: absolute; top: 52%; left: 7%;
    transform: translateX(-125%);
    transition: all .5s;
    animation: fadeInImage 2s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}

body {
    background-color: #960b38;
    overflow: hidden;
    overflow-anchor: none;
}


@keyframes fadeInImage {
    form{transform: translateX(100%);}
    to{transform: translateX(0%);}
}
